body {
    margin:10px 150px;
    padding:50px;
    overflow:scroll;
    font:14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color:#000000;
    margin:0 0 20px;
    text-align:center;
}

h1 {
    font-size:38px;
}

h2 {
    font-size:20px;
}

h1, h2, h3 {
    line-height:1.1;
}

hr.rounded {
    border-top:8px solid #000000;
    border-radius:5px;
}

form {
    display:inline-block
}

table {
    align-items:center;
	display:inline-block;
	align-content:center;
	
}

th, td {
    border-bottom:1px solid #dcdcdc;
    text-align:left;
    padding:5px;
}

select option {
    font-size: 14px;
}


